*.bak
.metadata/
.qsys_edit/
db/
incremental_db
*.rpt
*.debuginfo
*.qip
*.regmap
*.png
output_files/
RemoteSystemsTempFiles/
simulation/
software/
*.qsf
*.qsys
*.sopcinfo
*.qws
Super-Smash-Bros-FPGA-Project/

